* {
  // margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
// @import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);
body {
  font-size: 14px !important;
  font-family: "Exo 2", sans-serif;
  color: #333;
  // overflow: scroll;
  // overflow-x: hidden;
}
.bg-body-theme{
  background-color: $bgBody !important;
}
.cursor-pointer{
  cursor: pointer;
}
.fs-13{
  font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-18{
  font-size: 18px !important;
}
.w-select{
  width: 97% !important;
}
.white-space-nowrap {
  white-space: nowrap;
}
.display-none{
  display: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-weight: 300;
}
.rdx-custom-1{
  border-radius: 10px / 30px;
}
.rdx-custom-2{
  border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
}
.rdx-custom-3{
  border-radius: 5px 25px !important;
}
.btn-datsim{
  color: #f9f7f1 !important;
  background-color: $bgBtn !important;
  border-color: $bgBtn !important;
  &:hover{
    background-color: $bgBtnHover !important;
    border-color: $bgBtnHover !important;
  }
}
.btn-filters{
  color: #000 !important;
  // background-color: $bgBtn !important;
  border-color: $bgBtn !important;
}
.sim_price{
  color: #007a57;
}
.sim_price-vnmb{
  color: #FF6600;
}
.sim_price-vnp{
  color: #0198e1
}
.text-main{
  color: #242254;
}
.share_btn2{
  display: inline-block;
  text-decoration: none;
  width: 50px;
margin:2px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
color:white;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
}
.share_btn2 .fa {line-height:50px}
.share_btn2:hover{
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.share_btn2.shtw {background: #22b8ff;}
.share_btn2.shfb {background: #6680d8;}
.share_btn2.shpkt {background: #ff6d82;}
.share_btn2.shfdly {background: #7bda72;}
.share_btn2.shgp {background: #fd6969;}
.bg-footer{
  background: #fdfdfd;
}
.text-footer{
  color: #074892;
}
.mw-124{
  min-width: 124px;
}
.mw-104{
  min-width: 104px;
}
.w-100{
  width: 100%;
}

.pagination {
  display: inline-block;
  & a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid rgb(235, 226, 226);
    margin: 0 4px;
    &.active {
      background-color: $bgHeader;
      color: white;
      border: 1px solid #dbdbe4cb;
    }
  }
}
h2{
  font-size: 18px;
  font-weight: 300;
}
ul{
  padding: 0;
}
.fs-150{
  font-size: 120% !important;
}
.fs-24{
  font-size: 24px;
}
.fs-22{
  font-size: 22px;
}
.fs-20{
  font-size: 20px;
}
.fs-16{
  font-size: 16px;
}
a{
  text-decoration: none;
}
.news-icon{
  position: relative;
  top: -2px;
  left: -5px;
}