// MOBILE
/* Portrait */
// (min-width: 320px) and (max-width: 480px)
@media only screen and (min-width: 320px) and (max-width: 480px) //   and (-webkit-min-device-pixel-ratio: 2)
  {
  .p-0-mb{
    padding: 0 !important;
  }
  .display-cell-mang{
    display: block ;
  }
  .box-content{
    & ul{
        padding-left: 0px;
        & li{
            background-color: #fff !important;
        }
    }
  }
  .box-menu-sidebar{
    // padding: 0 16px 0 16px;
    & ul li:nth-child(even){
      padding-left: 6px;
    }

  }
  .menu-mobile{
    display: none;
  }
  .list-mb{
    & li{
      width: 48.9%;
      text-align: center;
      border: 1px solid rgb(211, 201, 201);
      padding: 4px 0px;
      margin: 2px;
      & a{
      }
    }
  }
  .box-content{
    & ul{
        display: flex;
        flex-wrap: wrap;
        & li{
            &:nth-child(odd) {
              border-right: 1px solid rgb(224, 224, 224);
            }
            width: 49.9%;
            text-align: left;
        }
    }
}
  .content-detail {
    margin-top: 20px
  }

  .text-center-mb {
    text-align: center;
  }

  .mt--7 {
    margin-top: -7px !important;
  }

  #related-list a {
    width: 100%;
    text-align: center;
  }

  .content-tag-nosim {
    margin-top: 20px;
  }

  .header-main {
    padding: 6px 0;

    & nav {
      position: absolute;
      width: 100%;
      height: calc(100vh - 48px);
      background-color: #333;
      padding-left: 0;
      padding-right: 0;
      top: 48px;
      left: -100%;
      transition: .5s;

      // &.active {
      //   left: 0;
      //   z-index: 99999999999999;
      // }

      & ul {
        padding-top: 0;
        display: block;
        text-align: center;

        & li {
          padding: 12px 0;
          border-bottom: 1px solid rgba(0, 0, 0, .2);

          & a {
            font-size: 14px;

            &:hover {
              color: rgb(19, 18, 18);
            }
          }
        }
      }
    }

  }

  nav .main-menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .wrapper-content {
    flex-wrap: wrap;

    & .sidebar-left {
      width: 100%;
      // padding: 8px 0;
    }

    & .content-main {
      width: 100%;
      padding: 0;
      margin-top: -26px;
      // border: 1px solid
    }

    & .sidebar-right {
      width: 100%;
      // padding: 8px 0;
    }
  }

  // .box-content ul li {
  //   text-align: center;
  // }

  .hide-mb {
    display: none;
  }

  .content-filters {
    overflow: hidden;
    &.active-filter {
      height: 80%;
    }

    &.unactive-filter {
      height: 0;
    }

    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }

    & .box {
      margin-right: 27px;
    }
  }

  .fs-12-mb {
    font-size: 12px;
  }

  .sidebar-left {
    order: 2 !important;
  }

  .z-index-mb-1 {
    position: absolute;
    z-index: 1;
  }

  #table-sim {
    margin-top: 46px;
  }

  .table-sim-fix {
    margin-top: 0px !important;
  }

  .dropdown-menu.show {
    display: grid !important;
  }

  // Page sim viettel
  .content-flex {
    margin-top: 26px;
  }
}
// (min-width: 768px) and (max-width: 1024px)
/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .p-0-mb{
    padding: 0 !important;
  }
  .display-cell-mang{
    display: block ;
  }
  .box-content{
    & ul{
        padding-left: 0px;
        & li{
            background-color: #fff !important;
        }
    }
  }
  .menu-mobile{
    display: none;
  }
  .text-center-mb {
    text-align: center;
  }

  .mt--7 {
    margin-top: -7px !important;
  }

  #related-list a {
    width: 100%;
    text-align: center;
  }

  .content-tag-nosim {
    margin-top: 20px;
  }

  .z-index-mb-1 {
    position: absolute;
    z-index: 1;
  }

  .sidebar-left {
    order: 2 !important;
  }

  .fs-12-mb {
    font-size: 12px;
  }

  .content-filters {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    &.active-filter {
      height: 80%;
    }

    &.unactive-filter {
      height: 0;
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    & .box {
      margin-right: 27px;
    }
  }

  .hide-mb {
    display: none;
  }

  .dropdown-menu.show {
    display: grid !important;
  }

  .header-main {
    padding: 6px 0;

    & nav {
      position: absolute;
      width: 100%;
      height: calc(100vh - 48px);
      background-color: #333;
      padding-left: 0;
      padding-right: 0;
      top: 48px;
      left: -100%;
      transition: .5s;

      &.active {
        // left: 0;
        // z-index: 1000;

      }

      & ul {
        padding-top: 0;
        display: block;
        text-align: center;

        & li {
          padding: 12px 0;
          border-bottom: 1px solid rgba(0, 0, 0, .2);

          & a {
            font-size: 14px;

            &:hover {
              color: rgb(19, 18, 18);
            }
          }
        }
      }
    }

  }

  nav .main-menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .wrapper-content {
    flex-wrap: wrap;

    & .sidebar-left {
      width: 100%;
      // padding: 8px 0;
    }

    & .content-main {
      width: 100%;
      padding: 0;
      margin-top: -26px;
      // border: 1px solid
    }

    & .sidebar-right {
      width: 100%;
      // padding: 8px 0;
    }
  }

  .box-content ul li {
    text-align: center;
  }

  // Page sim viettel
  .content-flex {
    margin-top: 26px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .p-0-mb{
    padding: 0 !important;
  }
  .display-cell-mang{
    display: block ;
  }
  .box-content{
    & ul{
        padding-left: 0px;
        & li{
            background-color: #fff !important;
        }
    }
  }
  .menu-mobile{
    display: none;
  }
  .mt--7 {
    margin-top: -7px !important;
  }

  .relative-none {
    position: inherit;
  }

  .content-tag-nosim {
    margin-top: 20px;
  }

  .content-filters {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    &.active-filter {
      height: 80%;
    }

    &.unactive-filter {
      height: 0;
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    & .box {
      margin-right: 27px;
    }
  }
  .z-index-mb-1 {
    position: absolute;
    z-index: 1;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) and (-webkit-min-device-pixel-ratio: 1) {
  .p-0-mb{
    padding: 0 !important;
  }
  .display-cell-mang{
    display: block ;
  }
  .box-content{
    & ul{
        padding-left: 0px;
        & li{
            background-color: #fff !important;
        }
    }
  }
  .menu-mobile{
    display: none;
  }
  .content-filters {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    &.active-filter {
      height: 80%;
    }

    &.unactive-filter {
      height: 0;
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    & .box {
      margin-right: 27px;
    }
  }
  .z-index-mb-1 {
    position: absolute;
    z-index: 1;
  }
  #table-sim{
    margin-top: 46px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .p-0-mb{
    padding: 0 !important;
  }
  .display-cell-mang{
    display: block ;
  }
  .box-content{
    & ul{
        padding-left: 0px;
        & li{
            background-color: #fff !important;
        }
    }
  }
  #table-sim{
    margin-top: 46px;
  }
  .d-flex-between{
    align-items: center;
    justify-content: space-between;
  }
}