// Color system

$white: #fff;
$gray-100: #babfc7; // $gray-lightest
$gray-200: #98a4b8; // $gray-lighter
$gray-300: #626e82; // $gray-light
$gray-400: #6f7274;
$gray-500: #adb5bd;
$gray-600: #404e67; // $gray
$gray-700: #4e5154;
$gray-800: #1b2942; // $gray-dark
$gray-900: #2a2e30;
$black: #000;

$blue: #2dcee3; //$info
$red: #ff7588; //$danger
$orange: #ffa87d; //$warning
$green: #16d39a; //$success
$cyan: #00b5b8; //$primary

$primary: #0064B6;
$secondary: #F4B200;
$info: $blue;
$warning: $orange;
$main: #e4e4ee;
// $bgHeader: #7167FF;
$bgHeaderHover: #308BE3;
$bgHeader: #308BE3;
$bgBtn: #308BE3;
$bgBtnHover: #308ce3dc;
$bgBody: #f5f4fb;
$txtMain: #FFFFFF;
